@charset "utf-8";
/* CSS Document */

.popover {
   	width:800px;
}

li{
	list-style:none;
}
a{
	text-decoration:none;
	color: #414046;
}
.ajout{
	
}
.amenagements{
	display: inline-block;
	padding-right:2%;
	padding-left:2%;
	margin-left:-2px;
	margin-right:-2px; 
}
#plugin{
	width:250px;
	overflow-y:scroll;
	Overflow : auto;
	opacity: 0.96;
	background-color:#EEEEEE;
    /*box-shadow:rgb(204,204,204) 0px -5px 30px;*/
	font-size: 0.8em;
	/*margin:-6px;*/
}
header{
	position:relative;
	width:96%;
	height:100px;
	padding:2%;
	background-color:rgb(20,62,148);
	box-shadow:0px 0px 10px 6px rgb(20,62,148);
}
#description{
	position:absolute;
	top:0;
	left:15;
	width:140px;
	font-size:15px;
	color:rgb(255,255,255);
}
#logo{
	position:absolute;
	top:0;
	right:0;
	width:100px;
	height:100px;
}
#formulaire{
	position:relative;
	width:100%;
	padding:2%;
	padding-bottom:20px;
	border: 1px solid #aaa;
  	background: #f8f8f8;
 	border-radius: 3px;
  	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
#formulaire li{
	font-size:16px;
	list-style:none;
	border-top:1px solid rgb(153,153,153);	
	height:30px;
	padding-top:1%;
	padding-bottom:1%;	
}
.choix{
	height:150px;
	overflow:auto;
}
.help{
	position:absolute;
	right:10px;
	width:25px;
	height:25px;
	border-radius:100px;
	background-color:rgb(20,62,148);
	color:white;
	text-align:center;
	border:white 2px solid;
	text-decoration:none;
}
.valider{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	background:rgb(0,150,221);
	transition:all 0.5s;
	border:none;
	color:rgb(255,255,255);
	font-size:20px;
}
#valider:hover{
	background-color:rgb(0,138,203);
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked{
	width: 17px;
	height: 17px;
	border: 1px solid #aaa;
  	background: #f8f8f8;
  	border-radius: 3px;
  	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
	transition:all 1s;
}

body {
  padding-top: 100px;
  background-color: #5b8998;
}

h2{
	font-size: 20px;
	margin-bottom: 20px;
}

footer {
	margin-top: 300px;
	font-size: 12px;
	font-style: italic;
	border-top: 1px #414046 solid;
}

.col-md-12 {
  text-align: center;
}

.annotations{
	position: relative;
}
.old_annotations{
	display:inline-block;
	margin-right:2%;
}
.add_more{
	width:25px;
	height:25px;
}